<nav class="navbar bg-base-100 shadow-sm">
    <div class="container mx-auto">
        <div class="flex-1">
            <a href="/" class="btn btn-ghost text-xl">FaceGuard</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/enroll">Enroll</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/matches">Matches</a></li>
                <li><a href="/takedowns">Takedowns</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </div>
    </div>
</nav>
